@import url("reset.css");

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

:root {
  /* color variables */

  --background-blue: #cfe5ff;
  --point-blue: #3692ff;
  --point-red: #f74747;

  --button-hover: #1967d6;
  --button-click: #1251aa;

  --white: #ffffff;

  --cool-gray900: #111827;
  --cool-gray800: #1f2937;
  --cool-gray700: #374151;
  --cool-gray400: #9ca3af;
  --cool-gray200: #e5e7eb;
  --cool-gray100: #f3f4f6;

  --gray900: #1b1d1f;
  --gray800: #26282b;
  --gray600: #454c53;
  --gray500: #72787f;
  --gray400: #9ea4a8;
  --gray200: #e5e7eb;
  --gray100: #e8ebed;
  --gray50: #f7f7f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  word-break: keep-all;
  font-family: Pretendard, sans-serif;
}

a {
  text-decoration: none;
}

.button {
  background-color: var(--point-blue);
  color: var(--white);
}

.button:hover {
  background-color: var(--button-hover);
}

.button:active {
  background-color: var(--button-click);
}

.button:disabled {
  background-color: var(--cool-gray400);
}

a.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.button {
  border: none;
}

li {
  list-style: none;
}
